{% extends 'app/base.html' %}

{% block title %}Añadir Ingrediente a Receta{% endblock %}

{% block content %}
<section class="container py-5 d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="card p-4 shadow-sm w-100" style="max-width: 450px; background-color: var(--fondo-tarjeta); border-radius: 12px; border: 1px solid var(--borde);">
        
        <header class="text-center mb-4 pb-3 border-bottom">
            {% if receta %}
                <h1 class="h4 fw-bold text-dark mb-0">Añadir Ingrediente a "{{ receta.titulo }}"</h1>
            {% else %}
                <h1 class="h4 fw-bold text-dark mb-0">Editar ingrediente {{ receta.titulo }}</h1>
            {% endif %}
        </header>

        <form method="post" class="d-flex flex-column gap-3">
            {% csrf_token %}
            
            <div class="text-start">
                {{ form.as_p }}
            </div>

            <div class="d-flex flex-column gap-2 mt-3">
                <button type="submit" class="btn btn-primario py-2 w-100 rounded-pill">
                    <i class="fa-solid fa-floppy-disk me-1"></i> Guardar ingrediente
                </button>
                <a href="{% url 'receta_lista' %}" class="text-center small text-decoration-none text-muted mt-2 fw-semibold">Volver lista recetas</a>
            </div>
        </form>
        
    </div>
</section>
{% endblock %}